<div class="mat-elevation-z8 select-form">
  <mat-form-field class="select-margin">
    <mat-select placeholder="-- please Select --"  #countrySelect (selectionChange)="filterByCountry($event.value)">
      <mat-option value="ALL"> ALL </mat-option>
      <mat-option *ngFor="let country of countries" [value]="country.code">{{country.name}}</mat-option>
    </mat-select>
    </mat-form-field>
    <mat-form-field  class="select-margin">
      <mat-select placeholder="-- please Select --"  #stateSelect (selectionChange)="filterByState($event.value)">
        <mat-option *ngFor="let state of state" [value]="state">{{state}}</mat-option>
      </mat-select>
      </mat-form-field>
</div>


<mat-card>


  <div class="mat-elevation-z8">

    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="customerId">
        <mat-header-cell *matHeaderCellDef>Customer Id</mat-header-cell>
        <mat-cell *matCellDef="let customer">{{customer.id}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="customerName">
        <mat-header-cell *matHeaderCellDef>Customer Name</mat-header-cell>
        <mat-cell *matCellDef="let customer">{{customer.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef>Phone Number</mat-header-cell>
        <mat-cell *matCellDef="let customer">{{customer.phone}}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
    </mat-table>

    <mat-paginator [length]="length" 
                   [pageSize]="defaultPageSize"
                   [pageSizeOptions]="[15, 20, 25]"
                   (page)="pageEvent = getServerData($event)"
                   ></mat-paginator>
  </div>
</mat-card>